@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

/* General CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   color: #232323;
}

h1,h2,h3,h4,h5,h6 {
   font-family: "Source Sans Pro", sans-serif;
   font-weight: 700;
}


a {
   text-decoration: none;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.row {
   width: 100%;
   padding: 0 15px;
}


.col-1 {
   width: 8.33%;
   float: left;
}

.col-2 {
   width: 16.67%;
   float: left;
}

.col-3 {
   width: 25%;
   float: left;
}

.col-4 {
   width: 33.33%;
   float: left;
}

.col-5 {
   width: 41.67%;
   float: left;
}

.col-6 {
   width: 50%;
   float: left;
}

.col-7 {
   width: 58.33%;
   float: left;
}

.col-8 {
   width: 66.67%;
   float: left;
}

.col-9 {
   width: 75%;
   float: left;
}

.col-10 {
   width: 83.33%;
   float: left;
}

.col-11 {
   width: 91.67%;
   float: left;
}

.col-12 {
   width: 100%;
   float: left;
}

section {
   padding: 60px 0;
}

p {
   line-height: 1.7em;
}

.text-bold {
   font-weight: 700;
}

.text-center {
   text-align: center;
}

.text-uppercase {
   text-transform: uppercase;
}

.title {
   font-size: 70px;
}

.img-fluid {
   max-width: 100%;
}


table {}
table tr {
    height: 40px;
}
table td {padding-right: 50px;line-height: 26px;padding-bottom: 20px;}

.property-box {
    padding: 40px 0;
}
.property-box h3 {
    font-size: 32px;
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 50px;
}

/* Page 2 CSS  */
.page2 h1 {
    margin-bottom: 30px;
}
.page2 p {
    padding-right: 20%;
    font-size: 22px;
    margin-bottom: 70px;
}
.page2 img {
    padding: 0 10%;
    margin-bottom: 100px;
}

.page2 .box {
    padding: 5%;
    border: 3px solid #707070;
    display: inline-block;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 23%);
    margin-bottom: 50px;
}

.page2 .box h4{
   font-size: 32px;
   letter-spacing: 2px;
   text-decoration: underline;
   margin-bottom: 30px;
}

.page2 .box table tr:nth-child(2) td:nth-child(2) {
   padding-top: 20px;
}
